$purple: #413f64;
$skyblue: #bfdee6;
$tan: #fff7e9;
$yellow: #ffc460;
$orange: #f3814b;
$offblack: #2e2f30;
$black: #000;
$white: #fff;
$gray: #505153;
$lightgray: #9aabb1;


$body-text-color: $offblack;
$body-link-color: $purple;
