@import 'variables';

html, body
{
  background-color: $white;
  color: $body-text-color;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

a, a:hover, a:focus, a:visited
{
  color: $body-link-color;
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}

.content > .container {
  padding: 1rem 1rem 0;
  @media screen and (min-width: 576px) {
    padding: 1rem 2.5rem 0;
    max-width: 1000px;
  }
}
